@media print
   {
    @page {
        size: A4;
    }

    body {
      font-size: 9pt;
    }

    a[href]:after {
      content: none !important;
    }

    .fa-stack.fa-xs {
       display: none;
    }

    .job-title {
       font-weight: bold !important;
    }

    .time {
       font-size: small !important;
    }

    .section {
       margin: 30px !important;
    }

    .company { 
      font-size: small !important;
      font-style: italic !important;
    }

    img.avatar {
      filter: grayscale(1);
      -webkit-filter: greyscale(1);
    }
   .main-wrapper .time {
      float: right;
      color: black !important;
      // -webkit-print-color-adjust: exact; 
   }
    .sidebar-wrapper {
      background: $theme-color !important;
      position: static;
      float: right;
      width: 40%;
      height: 100%;
      // -webkit-print-color-adjust: exact; 
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

}